/* Main container for testimonials */
.testimonials{
	padding:20px;
	background-color: #f5f5f5;
}
.testimonial{
	padding: 15px;
	bolder: 1px;
	Background-color:#f5f5f5;
}
.text{
	margin: 0;
	font-family: normal;
}
.author{
	text-align:right;
	font-style:italic;
}